{% extends "profile/base_profile.html" %}
{% load url from future %}

{% block contentheading %}
    <h2 id='id_profile_title'>Hello {{ user.get_full_name }}</h2>
    <p><em>It's a good idea to update your profile occasionally.</em></p>
{% endblock contentheading %}

{% block content %}
    <div class='pure-g-r'>
        <div class='pure-u-1-2' id='id_account_status'>
            <h3>Authentication</h3>
            <p>You are currently logged in via {{ auth_via }}.</p>
            <p>Was gravatar, TODO:replace with social media profile pic</p>
        </div>
        <div class='pure-u-1-2' id='id_change_password'>
            <h3>Change Your Password</h3>
            <a href="/accounts/password/change/">Change Password</a>
        </div>
        <div class='pure-u-1-2' id='id_courses_enrolled'>
            <h3>Courses You've Enrolled On</h3>
            <table class="pure-table pure-table-horizontal"><tr><th>Course</th>
                <th>Homepage</th><th>Status/History</th></tr>
            
                {% for uc in usercourses %}
                    <tr><td>{{ uc.course.name }}</td>
                        <td><a href='{{ uc.course.get_absolute_url }}'>visit</a></td>
                        <td><a href='{{ uc.get_absolute_url }}'> 
                        {% if uc.active %}
                            active
                        {% elif uc.withdrawn %}
                            withdrawn
                        {% elif uc.completed %}
                            completed
                        {% endif %}
                    </a></td></tr>
                {% empty %}
                    <tr><td>None</td><td>None</td><td>N/A</td></tr>
                    <tr><p>You aren't currently enrolled on any courses.</p></tr>
                    <tr><p>Checkout the <a href="{% url 'courses.views.index' %}">full course list</a><br>(and get your brain on ;-)</p></tr>
                {% endfor %}
            </table>
        </div>
        <div class='pure-u-1-2' id='id_courses_taught'>
            <h3>Courses You Teach or Manage</h3>
            <table class="pure-table pure-table-horizontal"><tr><th>Course</th><th>Homepage</th></tr>
                {% for tc in taughtcourses %}
                    <tr><td>{{ tc.name }}</td>
                    <td><a href='{{ tc.get_absolute_url }}'>visit</a></td>
                           <td><a href='{{ tc.get_absolute_url }}'> 
                    </a></td></tr>
                {% empty %}
                    <tr><td>None</td><td>None</td></tr>
                    <tr><p><a href="{% url 'courses.views.create' %}">Create a course right now</a><br>...because you can learn by teaching!</p></tr>
                {% endfor %}
            </table>
        </div>
        <div class='pure-u-1-2' id='id_personal_details'>
            <h3>Your Details</h3>
            <a href="{%url 'profile.views.edit' %}">Edit Details</a>
            <table class="pure-table pure-table-horizontal">
                <tr><td>Name</td><td>{{ user.get_full_name }}</td></tr>
                <tr><td>Email</td><td>{{ user.email }}</td></tr>
                <tr><td>Motto</td><td>
                    {{ profile.signature_line|capfirst }}
                </td></tr>
                <tr><td>Accepted Terms & Conditions</td><td>
                    {{ profile.accepted_terms }}
                </td></tr>
                <tr><td>Timezone</td><td>{{ profile.user_tz }}</td></tr>
                <tr><td>Webpage</td>
                    <td><a href='
                    {% filter force_escape %}{{ profile.webpage }}{% endfilter %}
                    '>{{ profile.webpage }}</a></td>
                </tr>
                <tr><td>Description</td><td>{{ profile.description }}</td></tr>
            </table>
        </div>
    </div>
{% endblock content %}
