{% extends "courses/base_course.html" %}
{% load cycle from future %}
{% load staticfiles %}
{% load tz %}

{% block extra_style %}
    <link href="{% static 'learning_intention.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'progress_bar.css' %}" rel="stylesheet" media="screen" />
{% endblock extra_style %}

{% block extra_script %}
    <script src="{% static 'traffic.js' %}"></script> 
{% endblock extra_script %}

{% block menu_override %}
    <li class='menu-item-divided'><a href='{{ lesson.course.get_absolute_url }}'
title='{{ lesson.course }}'>{{ lesson.course.name }} Home</a></li>
    <li><a href='{{ lesson.get_absolute_url }}'
title='{{ lesson }}'>Lesson Home</a></li>
{% endblock menu_override %}

{% block breadcrumb %}
<p id='id_breadcrumb'>
    <a href="{% url 'courses.views.index' %}">All Courses</a> &gt;
    <a href='{{ lesson.course.get_absolute_url }}'>{{ lesson.course.name }} Home</a> &gt;
    <a href='{{ lesson.get_absolute_url }}'>Lesson Home</a> &gt; 
    <a href='#'>Learning Intention</a>
</p>
{% endblock breadcrumb %}

{% block contentheading %}
    <h2 id='id_title'>Learning Intentions for Lesson {{lesson.name}}</h2>

    <span class='prevnext'>
    {% if learning_intention.get_prev %}
        &lt;<a href='{{ learning_intention.get_prev.get_absolute_url }}'
        title='{{ learning_intention.get_prev }}'>
        {{ learning_intention.get_prev|truncatechars:10 }}</a> 
    {% else %}
        ---
    {% endif %}
    | <span title='{{ learning_intention.pk }}:{{ learning_intention }}'>
        {{ learning_intention|truncatechars:10 }}</span> |
    {% if learning_intention.get_next %}
        <a href='{{ learning_intention.get_next.get_absolute_url }}'
           title='{{ learning_intention.get_next }}'>
        {{ learning_intention.get_next|truncatechars:10 }}</a>&gt;
    {% else %}
        ---
    {% endif %} 
    </span>
{% endblock contentheading %}

{% block content %}
<div id='id_resource_area' class='pure-g-r'>
    <div id='id_resource_lint' class='pure-u-4-5'>
        <h3>Learning Intention {{ learning_intention.id }}</h3>
        <p>{{ learning_intention.text }}</p>
    </div>
    
    <div class='pure-u-1-5'>
        {% if user_can_edit %}
            <a  href="{% url 'lint_edit' lesson_id=lesson.id learning_intention_id=learning_intention.id %}"
                id='id_edit_lint'
                class='pure-button pure-button-primary'>
                    Edit Learning Intention 
            </a>
            <p>You are involved in running this course.</p>
        {% endif %}
    </div>

    <div id='id_resource_LO_SC' class='pure-g-r'>
    <div id='id_resource_LO' class='pure-u-1-2'>
        <h3>Learning Outcome{{ ulo_list|length|pluralize:",s"}}</h3>
        <p class="FYI">A learning outcome is a particular capacity 
        or skill acquired or enhanced. Think of an 'I can...' statement.</p>
        {% if progressLO %}

        <progress value="{{progressLO.0}}" max="{{progressLO.2}}" id="progLO">
            <span class="prog_fb" id="progLO_fb">
            <!-- No HTML5 progress bar support? Fall back here-->
            <p class="progress" id="loprog">Progress
            <img src="{% static 'images/bar2.png' %}" alt="Progress Bar"  
                width="{% widthratio progressLO.0 progressLO.2 progressLO.3 %}" 
                height="20"/>
            <img src="{% static 'images/bar_back.png' %}" alt="Progress Bar"  
                width="{% widthratio progressLO.1 progressLO.2 progressLO.3 %}" 
                height="20"/>
            </p>
            </span>
        </progress>
        <div class="prog_status" id="progLO_status">
            <!--progress status or complete information-->
            <!-- TODO: What was this div for? Use or delete -->
        </div>
        {% endif %}
            <form action='' method='post'>{% csrf_token %}        
                <ol>
                    {% for lo in ulo_list %}
                        <li class="learning_outcome" data-id="{{ lo.0.pk }}">
                            <img id="id_LO{{ lo.0.pk }}"
                                class="tl-{{ lo.1 }}" 
                                src="{% static 'images/img_trans.png' %}"
                            />
                            <input class="traffic" type="submit" 
                            name="cycle{{ lo.0.pk }}" value="Cycle"
                            title="Cycle status R->A->G->R">
                                {{ lo.0.text }}
                        </li>
                    {% empty %}
                        <li>Not a single learning outcome specified!</li>
                    {% endfor %}
                </ol>
            </form>
    </div> <!-- id_lo -->

    <div id='id_resource_SC' class='pure-u-1-2'>
        <h3>Success Criteri{{ usc_list|length|pluralize:"on,a"}}</h3>
        <p class="FYI">A success criterion is an activity you 
        would do that would demonstrate mastery of 
        (part of) a learning outcome.</p>
        {% if progressSC %}

        <progress value="{{progressSC.0}}" max="{{progressSC.2}}" id="progSC">
            <span class="prog_fb" id="progSC_fb">
            <!-- No HTML5 progress bar support? Fall back here-->
            <p class="progress" id="scprog">Progress
            <img src="{% static 'images/bar2.png' %}" alt="Progress Bar"  
                width="{% widthratio progressSC.0 progressSC.2 progressSC.3 %}" 
                height="20"/>    
            <img src="{% static 'images/bar_back.png' %}" alt="Progress Bar"  
                width="{% widthratio progressSC.1 progressSC.2 progressSC.3 %}" 
                height="20"/>
            </p>
            </span>
        </progress>
        <div class="prog_status" id="progSC_status">
            <!--jQuery progress status or complete information-->
            <!-- TODO: What was this div for? Use or delete -->
        </div>

        {% endif %}   
            <form action='' method='post'>{% csrf_token %}
                <ol>
                {% for sc in usc_list %}
                    <li class="criterion" data-id="{{ sc.0.pk }}">
                        <img id="id_SC{{ sc.0.pk }}"
                            class="tl-{{ sc.1 }}" 
                            src="{% static 'images/img_trans.png' %}" 
                        />
                        <input class="traffic" type="submit" 
                        name="cycle{{ sc.0.pk }}" value="Cycle"
                        title="Cycle status R->A->G->R">
                        {{ sc.0.text }}
                    </li>
                {% empty %}
                    <li>No success criteria for this learning intention</li>
                {% endfor %}
                </ol>  
            </form> 
    </div> <!-- id_sc -->
    </div> <!-- id_LO_SC container -->
</div> <!-- id_resource_area -->
{% endblock content %}
