{% extends "courses/base_course.html" %}
{% load staticfiles %}
{% load tz %}

{%block extra_style %}
    <link href="{% static 'learning_intention.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'progress_bar.css' %}" rel="stylesheet" media="screen" />
{% endblock extra_style %}

{% block extra_script %}
    <script src="{% static 'traffic.js' %}"></script> 
{% endblock extra_script %}

{% block pagenav %}
<span class='prevnext'>
    {% if learning_intention.get_prev %}
        &lt; 
        <a href='{{ learning_intention.get_prev.get_absolute_url }}'>
        {{learning_intention.get_prev}}</a> 
    {% else %}
        ---
    {% endif %}
    | LI {{ learning_intention.pk }} | 
    {% if learning_intention.get_next %}
        <a href='{{ learning_intention.get_next.get_absolute_url }}'>
        {{ learning_intention.get_next }}</a> &gt;
    {% else %}
        ---
    {% endif %} 
</span>
{% endblock %}

{% block contentheading %}
    {{lesson.lesson_code}}: {{lesson.lesson_name}}
{% endblock contentheading %}

{% block content %}
    <article class="abstract">
        <h3>Learning Intention {{ learning_intention.id }}</h3>
        <p>{{ learning_intention.li_text }}</p>
    </article>

    <section id="zone1">
        <article>
        <h4>Success Criteri{{ usc_list|length|pluralize:"on,a"}}
        </h4>
        <p class="FYI">A success criterion is an activity you 
        would do that would demonstrate mastery of 
        (part of) a learning outcome.</p>
        {% if progressSC %}

        <progress value="{{progressSC.0}}" max="{{progressSC.2}}" id="progSC">
            <span class="prog_fb" id="progSC_fb">
            <!-- No HTML5 progress bar support? Fall back here-->
            <p class="progress" id="scprog">Progress
            <img src="{% static 'images/bar2.png' %}" alt="Progress Bar"  
                width="{% widthratio progressSC.0 progressSC.2 progressSC.3 %}" 
                height="20"/>    
            <img src="{% static 'images/bar_back.png' %}" alt="Progress Bar"  
                width="{% widthratio progressSC.1 progressSC.2 progressSC.3 %}" 
                height="20"/>
            </p>
            </span>
        </progress>
        <div class="prog_status" id="progSC_status">
            <!--progress status or complete information-->
        </div>

        {% endif %}   
<form action='' method='post'>{% csrf_token %}
        <ol>
        {% for sc in usc_list %}
            <li class="criterion">
                <img id="SC{{ sc.0.pk }}" 
                    src="{% static 'images/img_trans.png' %}" 
                    style="background-position: {{ sc.1 }}px 0px" />
<input type="submit" name="cycle{{ sc.0.pk }}" value="Cycle"
title="Cycle status R->A->G->R">
                {{ sc.0.lid_text }}
            </li>
        {% empty %}
            <li>No success criteria for this learning intention</li>
        {% endfor %}
        </ol>  
</form> 
        </article>
    </section>

    <section id="zone2">
        <article>
        <h4>Learning Outcome{{ ulo_list|length|pluralize:",s"}}
        </h4>
        <p class="FYI">A learning outcome is a particular capacity 
        or skill acquired or enhanced. Think of an 'I can...' statement.</p>
        {% if progressLO %}

        <progress value="{{progressLO.0}}" max="{{progressLO.2}}" id="progLO">
            <span class="prog_fb" id="progLO_fb">
            <!-- No HTML5 progress bar support? Fall back here-->
            <p class="progress" id="loprog">Progress
            <img src="{% static 'images/bar2.png' %}" alt="Progress Bar"  
                width="{% widthratio progressLO.0 progressLO.2 progressLO.3 %}" 
                height="20"/>
            <img src="{% static 'images/bar_back.png' %}" alt="Progress Bar"  
                width="{% widthratio progressLO.1 progressLO.2 progressLO.3 %}" 
                height="20"/>
            </p>
            </span>
        </progress>
        <div class="prog_status" id="progLO_status">
            <!--progress status or complete information-->
        </div>
        {% endif %}
<form action='' method='post'>{% csrf_token %}        
        <ol>
        {% for lo in ulo_list %}
            <li class="learning_outcome">
                <img id="LO{{ lo.0.pk }}" 
                    src="{% static 'images/img_trans.png' %}"
                    style="background-position: {{ lo.1 }}px 0px" />
<input type="submit" name="cycle{{ lo.0.pk }}" value="Cycle"
title="Cycle status R->A->G->R">
                {{ lo.0.lid_text }}
            </li>
        {% empty %}
            <li>Not a single learning outcome specified!</li>
        {% endfor %}
        </ol>
</form>
        </article>
    </section>
{% endblock content %}
