{% extends "registration/base_registration.html" %}

{% block contentheading %}
Site Registration
{% endblock contentheading %}

{% block zone1 %}
<h3>Thank You for Registering</h3>
<p>Thank you for registering. Before your account is activated you will first
 receive an email containing an activation link.</p>
<p>This is to prevent someone bogusly using your email address to open an
 account. Follow the link to complete activation.</p>
<p><em>Please note that EduDuck is still under significant development.</em> As the site's software is updated, care will be taken to preserve your data as far as possible, but this cannot be expected or guaranteed just yet.</p>

{% endblock zone1%}
