{% extends "registration/base_registration.html" %}
{% load url from future %}

{% block contentheading %}
Site Registration
{% endblock contentheading %}

{% block zone1 %}
<h3>Thank You for Registering</h3>
<p>Thank you for registering. Before your account is activated you will first
 receive an email containing an activation link.</p>
<p>This is to prevent someone bogusly using your email address to open an
 account. Follow the link to complete activation.</p>
<p><em>Note that whilst the site is under heavy development, the database on 
eduduck.com get wiped and reset regulary. So your username will disappear.</em>
Sorry, but this is just an unstable product preview right now.</p>

{% endblock zone1%}