{% extends "base.html" %}

{% block banner %}
    <h1>Site Registration Confirmation</h1>
{% endblock %}

{% block content %}
<p>Thank you for registering. Before your account is activated you will first
 receive an email containing an activation link.</p>
<p>This is to prevent someone bogusly using your email address to open an
 account. Follow the link to complete activation.</p>
<p><em>Note that whilst the site is under heavy development, the database on 
eduduck.com get wiped and reset regulary. So your username will disappear.</em>
Sorry, but this is just an unstable product preview right now.</p>

{% endblock %}