{% extends "base.html" %}

{% block banner %}
    <h1>Profile: {{ user.username }}</h1>
{% endblock %}

{% block content %}
<h2>Basic Data</h2>
    {{ user.username }} {{user.get_full_name}} {{user.email}}
<h2>Profile Data</h2>
    <p>Signature: {{ profile.signature_line }}</p>
    <p>Accepted T&C: {{ profile.accepted_terms }}</p>
    <div>Registered Courses: 
        {% for c in profile.registered_courses.all %}
            <strong>{{c.course_name}}</strong>
            <p>Lesson/DateAccessed/Completed</p>
            <ol>                
            {% for l in user_lessons %}
                <li>{{ l.lesson.lesson_name }} /
                    {{ l.date_complete }} /
                    {{ l.mark_complete}}
                </li>
            {% endfor %}
            </ol>
        {% endfor %}
    </div>
{% endblock content %}
