{% extends "bio/base_bio.html" %}

{% block contentheading %}
    Bio: {{ user.get_full_name }}
{% endblock contentheading %}

{% block zone1 %}
    <h3>Your Details</h3>
    <table border="1">
        <tr><td>Name</td><td>{{ user.get_full_name }}</td></tr>
        <tr><td>Email</td><td>{{ user.email }}</td></tr>
        <tr><td>Motto</td><td>
            {{ bio.signature_line|capfirst }}
        </td></tr>
        <tr><td>Accepted Terms & Conditions</td><td>
            {{ bio.accepted_terms }}
        </td></tr>
        <tr><td>TODO Registered Courses</td><td>
            {% for c in bio.registered_courses.all %}
            <h4><a href="{{ c.get_absoulute_url }}">
                {{ c.course_name }}</a></h4>

                <ul>{% for l in user_lessons %}
                    <li><a href="{{ l.lesson.get_absolute_url }}">
                        {{ l.lesson.lesson_name }}</a>
                        {{ l.date_complete|default_if_none:"" }}, 
                        Mark Complete: {{ l.mark_complete}}
                    </li>
                    {% empty %}
                    {% endfor %}
                </ul>

            </a></h4>
            {% empty %}
            <p>TODO Not implemented</p>
            {% endfor %}
        </td></tr>
        <tr><td>Webpage</td>
            <td><a href='
            {% filter force_escape %}{{ bio.webpage }}{% endfilter %}
            '>{{ bio.webpage }}</a></td>
        </tr>
        <tr><td>Description</td><td>{{ bio.description }}</td></tr>
    </table>
{% endblock zone1 %}
