{% extends "base.html" %}
{% load cycle from future %}
{% load staticfiles %}

{% block contentheading %}{% endblock contentheading %}
{% block content %}
<div class="content">
    <div id="id_course_selection" class="pure-g-r">
    {% for course in course_list %}
        <div class="random_course pure-u-{{ course.1 }}-24 
        {% cycle 'seg1' 'seg2' 'seg3' 'seg4' 'seg5' 'seg6' %}">
            <a href='{{ course.0.get_absolute_url }}' 
            id='id_{{course.0.name}}_course'>{{ course.0.name }}</a>
        </div>
    {% empty %}
        <div class="random_course pure-u-24-24">
            <p>No courses?</p>
        </div>
    {% endfor %}
        <div class="random_course pure-u-24-24" id="id_course_index"><a href="{% url 'courses.views.index' %}">See all Courses</a></div>
    </div>

    <div id="id_create_course">
        <form   class="pure-form"
                action="{% url 'courses.views.create' %}"
                method="get">
            <fieldset>
                <legend>Do It! Create a course right now</legend>
                {{ course_form.course_short_name }}
                <button 
                    id="id_course_create" 
                    type="submit" 
                    class="pure-button pure-button-primary">
                    Create a Course
                </button>
            </fieldset>
        </form>
    </div>
    
    <hr>
    
    <div class="pure-g-r">
        {% if user.is_authenticated %}
            <div class="pure-u-1-2" id="id_account_status">
            <h2>Welcome. You're logged in</h2>
            <p><img id="id_avatar" src="{{ user.profile.avatar.url }}">
                You are currently logged in via {{ auth_via }}</p>
            <p>You can visit your profile page: <br>
            <a id="id_profile_link" href="{% url 'profile.views.profile' %}">
                {{ user.username|capfirst }}
            </a></p>
            </div>
        {% else %}
            <div class="pure-u-1-2" id="id_social_auth_area">
                <h2>Login or Sign Up</h2>
                <p>Login or sign up in seconds with your social media account.</p>
                <a href="{% url 'social:begin' 'google-oauth2' %}" 
                    id="id_google_oauth2"><img 
                    src="{% static 'images/social_50/gplus.png' %}" 
                    height="50" width="50"></a>
                <a href=""
                    id="id_dropbox"><img 
                    src="{% static 'images/social_50/dropbox_grey.png' %}"
                    height="50" width="50"></a>
                <a href=""
                    id="id_twitter"><img 
                    src="{% static 'images/social_50/twitter_grey.png' %}" 
                    height="50" width="50"></a>
                <a href="{% url 'social:begin' 'facebook' %}"
                    id="id_facebook"><img 
                    src="{% static 'images/social_50/facebook.png' %}" 
                    height="50" width="50"></a>
            </div>
        {% endif %}

        <div class="pure-u-1-2">
            <form id="id_paypal_button" action="https://www.paypal.com/cgi-bin/webscr"
            method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="YA33KVGTV6ECJ">
            <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
            <p>It's early days for EduDuck. If you have found the platform 
            useful, any financial contribution, modest or major, would be most 
            welcome. We're planning a freemium model.</p>            
        </div>
    </div>
{% endblock content %}
