{% extends "interaction/base_interaction.html" %}
{% load tz %}

{% block contentheading %}
{{ ul.lesson.lesson_name }}
{% endblock contentheading %}

{% block zone1 %}
    <h3>Your Actions on this Lesson</h3>
    <ol>
    {% for event in history %}
        <li>{{ event.1 }} on {{ event.0|localtime }}</li>
    {% endfor %}
    </ol>
{% endblock zone1 %}

{% block zone2 %}
    <h3>Actions</h3>
    <p>You can mark the lesson as complete or add a note such as 'revise this'. 
    <a href='{{ ul.lesson.get_absolute_url }}'>Follow this link</a></p>
{% endblock zone2 %}
