{% extends "interaction/base_interaction.html" %}

{% block contentheading %}
LI: {{ ulid.learning_intention_detail.learning_intention.li_text }}
{% endblock contentheading %}

{% block zone1 %}
    <h3>Your History with this Success Criterion</h3>
    <p>{{ ulid.learning_intention_detail.lid_text }}</p>
    <ol>
    {% for event in history %}
        <li>{{ event.1 }} on {{ event.0 }}</li>
    {% endfor %}
    </ol>
{% endblock zone1 %}

{% block zone2 %}
    <h3>Actions</h3>
    <p>You can visit the lesson page:
    <a href='{{ ulid.learning_intention_detail.learning_intention.lesson.get_absolute_url }}'>Follow this link</a></p>
{% endblock zone2 %}
