{% extends "interaction/base_interaction.html" %}

{% block contentheading %}
{{ uc.course.course_name }}
{% endblock contentheading %}

{% block zone1 %}
    <h3>Your History on this Course</h3>
    <ol>
    {% for event in history %}
        <li>{{ event.1 }} on {{ event.0 }}</li>
    {% endfor %}
    </ol>
{% endblock zone1 %}

{% block zone2 %}
    <h3>Actions</h3>
    <p>You can register/de-register or mark the course complete. 
    <a href='{{ uc.course.get_absolute_url }}'>Follow this link</a></p>
{% endblock zone2 %}
