{% extends "interaction/base_interaction.html" %}
{% load tz %}

{% block menuoverride %}
<li>{{ uc.course.name }}</li>
{% endblock menuoverride %}

{% block breadcrumb %}
Useful breadcrumb?
{% endblock breadcrumb %}

{% block contentheading %}
<h2 id='id_uc_title'>
{{ uc.user.name }}'s {{ uc.course.name }} Registration Data
</h2>
{% endblock contentheading %}

{% block content %}
    <h3>When You Enrolled on this Course</h3>
    <ol>
    {% for event in history %}
        <li>{{ event.1 }} on {{ event.0|localtime }}</li>
    {% endfor %}
    </ol>

    <h3>Actions</h3>
    <p>You can enrol, withdraw, or mark the course complete. 
    <a href='{{ uc.course.get_absolute_url }}'>Follow this link</a></p>
{% endblock content %}
