{% extends "interaction/base_interaction.html" %}
{% load tz %}

{% block menuoverride %}
<li>??</li>
<li>??</li>
{% endblock menuoverride %}

{% block contentheading %}
<h2 id='id_ul_title'>
{{ ulid.user | capfirst }}'s Interaction with 
{{ ulid.learning_intention_detail.learning_intention.text }}
</h2>
{% endblock contentheading %}

{% block content %}
    <h3>Your history with this Success Criterion or Learning Outcome</h3>
    <p>{{ ulid.learning_intention_detail.text }}</p>
    <ol>
    {% for event in history %}
        <li>{{ event.1 }} on {{ event.0|localtime }}</li>
    {% endfor %}
    </ol>

    <h3>Actions</h3>
    <p>You can visit the lesson page:
    <a href='{{ ulid.learning_intention_detail.learning_intention.lesson.get_absolute_url }}'>Follow this link</a></p>
{% endblock content %}
