{% extends "courses/base_course.html" %}
{% load staticfiles %}
{% load tz %}

{% block menu_override %}
<li class='menu-item-divided'><a href='{{ course.get_absolute_url }}'>{{ course.name }} Home</a></li>
<li class='menu_subsection'><a href='#'>Lesson Home</a></li>
<li class='menu_subsection'><a href="#id_resource_videos">Videos</a></li>
<li class='menu_subsection'><a href="#id_resource_LIs">Learn.. Int..</a></li>
<li class='menu_subsection'><a href="#id_resource_attachments">Assessment</a></li>
<li class='menu_subsection'><a href="#id_resource_study">Study Group</a></li>
<li class='menu_subsection'><a href="#id_resource_attachments">Docs</a></li>
<li class='menu_subsection'><a href="#id_resource_progress">Progress</a></li>
{% endblock menu_override %}

{% block breadcrumb %}
<p id='id_breadcrumb'>
    <a href="{% url 'courses.views.index' %}">All Courses</a> &gt; 
    <a href='{{ lesson.course.get_absolute_url }}'>{{ course.name }} Home</a> &gt; 
    <a href='#'>Lesson Home</a>
</p>
{% endblock breadcrumb %}

{% block contentheading %}
<h2 id='id_lesson_title'>Lesson: {{lesson.name}}</h2>
<span class='prev_next'>
    {% if lesson.get_prev %}
    &lt;<a id='id_nav_prev' href='{{ lesson.get_prev.get_absolute_url }}'
                title='{{ lesson.get_prev }}'>{{ lesson.get_prev|truncatechars:10 }}</a> 
    {% else %}
    ---
    {% endif %}
    | <span title='{{ lesson }}'>
        {{ lesson|truncatechars:10 }}</span> | 
    {% if lesson.get_next %}
        <a id='id_nav_next' 
            href='{{ lesson.get_next.get_absolute_url }}'
            title='{{ lesson.get_next }}'>{{ lesson.get_next|truncatechars:10 }}
        </a>&gt;
    {% else %}
    ---
    {% endif %} 
</span>
{% endblock contentheading %}

{% block content %}
<div id='id_lesson_intro_area' class='pure-g-r'>
    <div class='pure-u-1-1'>
        <h3>{{ lesson.name }} Lesson Homepage</h3>
    </div>
    <div id='id_abstract' class='pure-u-1-1'>
        <p>{{ lesson.abstract }}</p>
    </div>
</div>

<div id='id_resource_area' class='pure-g-r'>
    <div id='id_resource_videos' class='pure-u-1-2'>
        <h3>Videos</h3>
        <ol>
        {% for v in lesson.video_set.all %}
        <li>{{ v.pk }} <a href="{{ v.url }}">{{ v.name }}</a></li>
        <iframe width="280" height="158" src='{{ v.url }}' 
        frameborder="0" allowfullscreen></iframe>
        {% empty %}
        <li>No videos for this lesson</li>
        {% endfor %}
        </ol>
    </div>
    <div id='id_resource_attachments' class='pure-u-1-2'>
        <h4 class="attachments">Documents Attached</h4>
        <ol>
        {% for a in attachments %}
        <li>{{ a.1.pk}}
        {% if a.0 %}
        Downloaded
        {% else %}
        Not Downloaded
        {% endif %} 
        <a href='{{ a.1.get_loggable_url }}'>{{ a.1.name }}</a>
        : {{ a.1.attachment.size }} bytes, {{ a.1.desc }}
        <a href='{{ a.1.get_metadata_url }}'>(View MetaData here)</a>
        </li>
        {% empty %}
        <li>No attachments in this lesson</li>
        {% endfor %}
        </ol>          
    </div>
    <div id='id_resource_LIs' class='pure-u-1-2'>
        <h3>Learning Intentions</h3>
        {% for li in learning_intentions %}
        <p>[<a id='id_LI{{ forloop.counter }}'href="{{ li.get_absolute_url }} " title="detail">-> {{ forloop.counter}}</a>] {{ li.text }}</p>
        {% empty %}
        <p>Bizarrely, no learning intentions given for this lesson</p>
        {% endfor %}
    </div>
    <div id='id_resource_progress' class='pure-u-1-2'>
        <h3>Your Progress</h3>
        {% if user.is_authenticated and history %}
            <ol>{% for event in history %}
                <li>{{ event.1 }} lesson on {{ event.0|localtime }}</li>
            {% endfor %}</ol>
        
            {% if not ul.completed %}
                <form action='' method='post'>{% csrf_token %}
                <input type="submit" name="lesson_complete" 
                value="Mark Complete" title="You can manually mark this lesson as being complete">
                </form>
            {% else %}
                <form action='' method='post'>{% csrf_token %}
                <input type="submit" name="lesson_reopen" 
                value="Un-mark/Re-open" title="This lesson is marked as complete, this will un-mark it (your data will not be lost)">
                </form>
            {% endif %}
        {% else %}
            <h3>Progress Record</h3>
            <p>Log in and/or register for this course, then you get to build up
            a detailed log of your awesomeness here.</p>
            <form id='id_enrol' class='pure-form' action='' method='post'>{% csrf_token %}
                <button id='id_enrol_button' class='pure-button pure-button-primary' type='submit' name='course_register'>Enrol</button>
            </form>
        {% endif %}
    </div>
    <div id='id_resource_survey' class='pure-u-1-2'>
    {% if user.is_authenticated and history %}
        {% if not lesson.get_next %}
        <h3>Nearly Finished! Well done</h3>
        <a href='https://docs.google.com/forms/d/1VrUfHZ3oVFByCeZf19CNl_OY0po9gTuMlKIT20rKY48/viewform'>
        <img width='156' height='200' 
        title='Complete our Survey!' alt='Complete our Survey!'
        src="{% static 'images/SurveyIcon_156.png' %}">
        </a>
        {% endif %}
    {% endif %}
    </div>
    <div class='pure-u-1-2' id='id_resource_study'>
        <h3>Study Group & Course News</h3>
        <p>Combined news feed, possibly user configurable forum RSS, 
        twitter, G+, Facebook etc. (Students often set up own groups</p>
    </div>
    <div class='pure-u-1-2' id='id_resource_assessments'>
        <h3>Assessment</h3>
        <p>Assessment info</p>
    </div>
</div>
{% endblock content %}
