body {
    background-color:   #b0ac8a;
}

h1 {
    color:          red;
    text-align:     center;
    font-size:      xx-large;
    font-family:    'Merienda', cursive;
}

h2 {
    color:          #0e24b0;
    text-align:     left;
    font-family:    'Lemon', cursive;
    font-size:      x-large;
}

h3 {
    color:          blue;
    text-align:     left;
    font-family:    'Junge', serif;
    font-size:      large;
}

p {
    font-family:    'Pontano Sans', sans-serif;
    font-size:      12px;
}

p#strapline {
    color:          #b0216d;
    font-size:      large;
    font-family:    'Lemon', cursive;
}

