/*iteration 2 Eduduck Stylesheet for MVP
Thrown together by Chris McGinlay Jan 2013
*/

/* Fonts */
body, html {
    background-color:   #588f27;
    font-size:          100%;
}

h1 {
    color:          #1c3803;    /*dark emerald*/
    text-align:     center;
    font-size:      1.3em;
    font-family:    'Lemon', cursive;

}

h2 {
    color:          #cafcd8;
    text-align:     left;
    font-family:    'Merienda', cursive;
    font-size:      1.5em;
    margin:         0;
    padding:        5px 0 15px 10px;
}

h3 {
    color:          #04bfbf;
    text-align:     left;
    font-family:    'Junge', serif;
    font-size:      1.4em;
    margin:     10px;
}

h4, h4 a {
    color:          #588f27;
}

p {
    font-family:    'Pontano Sans', sans-serif;
    font-size:      1em;
}

p#strapline {
    color:          #1c3803;
    font-size:      1.2em;
    font-family:    'Lemon', cursive;
    height:         40px;
    line-height:    40px;
}

/* Layout */
.fix_container {
    /*Fixed position container, use to center and fix*/
    position:           fixed;
    top:                0;
    left:               0;
    right:              0;
    left:               0;
    text-align:         center;
    z-index:            10;
}

#wrapper {
    width:  95%;
    margin: auto;
    margin-top: 5px;
    background: #e0ffe9;
}

#userprof {
    display:            inline-block;
    text-align:         left;
    background-color:   #04bfbf;
    border:             1px solid #1c3803;
}

#branding {
    position:           relative;
    background-color:   #f7e967;
    border:             #1c3803 solid 2px;
    min-height:         85px;
}

#branding img {
    float:          left;
    padding-top:    15px;
    padding-left:   10px;
}

#branding h1 {
    float:      left;
    width:      100px;
    text-align: left;
    margin-left:10px;
}

#search  {
    position:   absolute;
    bottom:     5px;
    left:       65%;
    width:      34%;
    height:     1.5em;
    margin:     0;
    padding:    0;
    background: #f7e967;
}

#primary {
    clear:              both;
    background-color:   #cafcd8;
    padding:            15px 0 15px 0;
    width:              100%;
}

#primary ul {
    list-style:     none;
    margin:     0;  /* Yes, you do need this, even with normalize.css! */
}

#primary ul li {
    display:        inline;
}

#devmenu {
    position:   fixed;
    border:     black dashed 1px;
    top:        300px;
    left:       88%;
    width:      10%;
    font-size:  75%;
}

#devmenu ul {
    list-style:     none;
    margin:         0;
    padding:        0;
}

#content {
    background-color:   #04bfbf;

    }

#content section#zone1 {
    float:              left;
    width:              45%;
    padding-left:       2%;
    padding-right:      2%;
    background-color:   #e0ffe9;
    border:             outset;
}

#content section#zone2 {
    float:          right;
    width:          45%;
    padding-left:   2%;
    padding-right:  2%;
    background:     #e0ffe9;
    border:         outset;
}

#pagefoot {
    clear:              both;
    background-color:   #cafcd8;
    color:              04bfbf;
    padding:            0 20px 0 20px;
}

#pagefoot p {
    color:     inherit;
}

/*Element details*/
#userprof ul {
    margin-left:       4px;
    margin-right:      4px;
}

#userprof li {
    float:              left;
    list-style:         none;
    margin:             0;
    padding:            0;
}

div#userprof li > a {
    display:        block;
    width:          4em;
    text-align:     center;
}

div#userprof li a:link, div#userprof li a:visited {
    text-decoration:    none;
    color:              #cafcd8;
}

div#userprof li a:hover, div#userprof li a:active {
    text-decoration:    none;
    color:              #f7e967;
}

.abstract {
    background-color:   #7b9c31;    /*Grass is green*/
    color:              white;
    font-size:          0.8em;
    padding:            5px;
    text-align:         justify;
}

#content > .abstract {
    width:      50%;
    margin:     0 20px 0 20px;
    padding:    5px 5px 2px 5px;
}

#content > .abstract h3 {
    margin: 5px 5px 0 0;
    color:  #1c3803;    /*dark emerald*/
}

.FYI {
/*    background-color:   #9e5909;*/
/*    color:              #f2edce;*/
    border:             solid 4px #f7e967;
    font-size:          0.8em;
    padding:            2px 10px 4px 10px;
    text-align:         justify;
}

.FYI:before {
    content:            "FYI ";
    font-weight:        bold;
    font-size:          2em;
}

#branding a {
    text-decoration:none;
}