/* Form specific CSS */

div.errorlist p, ul.errorlist li {
    background-color: red;
    color:  black;
}

div.markdown {
    border:     1px solid grey;
    background: rgb(200,200,200); 
}

div.markdown p {
    margin-bottom:  0px;
}

div.markdown textarea {
    width: 95%;
}

