/* static/index.css
 * 
 * Manage colour scheme etc for index (landing page)
 */

/* http://designmodo.com/flat-design-colors/ */

p#id_branch {
    position: absolute;
    top: 0.1em;
    left: auto;
    right: 0.1em;
    margin: 0;
    padding: 0;
    color: lightgrey;
}

div#course_create_see_all a{
    text-align: center;
    width: 100%
}
    

div.random_course {
    color: rgba(0,0,0,1);
    text-align: center;
    font-weight: bold;
}

div.random_course:nth-child(1) {
    background-color: rgba(0,82,156,1);
}

div.random_course:nth-child(2) {
    background-color: rgba(0,177,106,1);
}

div.random_course:nth-child(3) {
    background-color: rgba(0,82,156,0.5);
}

div.random_course:nth-child(4) {
    background-color: rgba(0,177,106,0.5);
}

div#id_course_index {
    background-color: rgba(192, 0, 0, 1);
}

div#id_course_index a {
    color: white;
}

div#id_create_course {
    margin-top: 2em;
    margin-bottom: 2em;
}