/* static/learning_intention.css

Position inline list-item background images for JQuery manipulation */

.tl-red {
    position:       relative;
    background:     url('images/traffic_seq50.png') -0px 0px no-repeat;
    width:          16px;
    height:         36px;
}

.tl-amber {
    position:       relative;
    background:     url('images/traffic_seq50.png') -17px 0px no-repeat;
    width:          16px;
    height:         36px;
}

.tl-green {
    position:       relative;
    background:     url('images/traffic_seq50.png') -34px 0px no-repeat;
    width:          16px;
    height:         36px;
}

LI.criterion>img, LI.learning_outcome>img {
    height:         36px;
}
