{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load tz %}

{% block title %}
    About EduDuck
{% endblock title %}

{% block contentheading %}
    <h1>EduDuck: Online Education</h1>
{% endblock contentheading %}

{% block content %}
    <h2>How can I use EduDuck?</h2>
    <p>You can use it to receive, or deliver, well organised, accessible, and useful learning experiences. One of the best ways to learn something is to help others learn too and EduDuck aims to facilitate that.</p>

    <h2>What is EduDuck's goal?</h2>
    <p>Glibly, education. However, it's important to recognise that an individual person's education takes place in their home, their community, their school or workplace. When a person is able to meaningfully engage with learning in any context, there is a gradual transformative effect which emerges at some point. There is a benefit to the individual 'student', to the person giving the instruction, and to the communities in which we live.</p>
    <p>There is a growth in self confidence of the student, and the person giving their knowledge or skills. Learning experiences inspire new businesses, further study, ways of solving problems which can improve the lives of people in the community, and address some of the serious challenges in the world, including poverty, hunger, health, conflict, climate change, which we all either have experienced at first hand, or live near to those who.</p>
    <p>So the true purpose of EduDuck is to somehow find a way to synthesise allthese philosophies into a platform where people can learn and teach together, pick up the skills, contacts and confidence to do something positive.</p>
    
    <h2>Who are EduDuck's intended participants?</h2>
    <p>The platform is open to anyone in principle. (There will of course be a requirement to use EduDuck in a constructive manner). EduDuck will start with English speaking smartphone, tablet and desktop users. Once sufficient revenue is generated, the intention is to reach individuals and groups with feature phones in a variety of languages and regions.</p>

    <h2>What kind of courses will you have?</h2>
    <p>It's going to be pretty broad really. Any topic which someone can find useful and is compatible with the concept of improving (or at least not harming!) the quality of communities or a person's life will be just fine.</p>

    <h2>How will EduDuck generate revenue?</h2>
    <p>Like any business, we will need to generate sufficient income to at least cover costs, otherwise we won't survive to achieve our goals.</p>
    <p>EduDuck is developing using the Business Model Canvas to explore a viable model for its existence. Revenue streams will include advertising, purchases of paper certificates, a percentage fee for pay-for courses which include a built in bursary system, and later, referrals.</p>
    <p>The idea is that most learning experiences will be offered free by users, and no payment will be required to participate. Is someone would like to charge students, then EduDuck would charge a small percentage (perhaps 6%) and also require that, say, 30% of the places are available free-of-charge to those have less financial means.</p> 
   
    <h2>Why launch EduDuck when it's not finished?</h2>
    <p>Probably because if I waited until EduDuck was ready, I'd be too late. In fact it would never launch. The thing is, I don't know exactly what form EduDuck needs to take in order to acheive anything. The philosophy of the Business Model Canvas is to get a concept 'out there' and start testing it - can it solve real world problems?</p>
    <p>I hope that EduDuck can help you solve some problems, and that through your usage and feedback, a helpful and indispensable platform will emerge.</p>  

    <h2>Who set up EduDuck?</h2>
    <p>Chris McGinlay</p>
    <p>The idea grew from an extended discussion with my brother Alan during a superb holiday in Stockholm, Sweden 2012.</p>

    <h2>Do you actually know anything about ducks?</h2>
    <p>Well, as it happens, yes. I'm learning. We currently are responsible for four real ducks.</p>
{% endblock content %}
