{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load tz %}

{% block title %}
    About EduDuck
{% endblock title %}

{% block contentheading %}
    <h1>EduDuck: Online Education</h1>
{% endblock contentheading %}

{% block content %}
    <h2>EduDuck's Goal</h2>
    <p>To bring well organised, accessible, and useful learning experiences on a range of subjects leading up to college or university level study. All ages, income levels and geographical areas will be catered for.</p>
    <h2>EduDuck's Intended Audience</h2>
    <p>Eduduck aims to provide online courses roughly between the high school and college or university skill level. Many of our intended audience will be between 15 and 30 years old.</p>
    <h2>EduDuck's Course Categories</h2>
    <p>The courses will likely be of a technical nature. At this stage, there will be only one or perhaps two courses.

    <h2>Who is Behind EduDuck</h2>
    <p>Alan and Chris. Now you know.</p> 
{% endblock content %}
