<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}common.css" />
    <title>{% block title %}EduDuck Your Brain Today{% endblock %}</title>
</head>

<body>
    <div id="motif">
        <img src="{{ STATIC_URL }}motif.jpg" width="80px" height="80px"/>
    </div>
    <div id="banner">
        <h1>Edu Duck</h1>
        {% block banner %}
        <h1>A Page With No Title. Override Me</h1>
        {% endblock %}
        <p id="strapline">EduDuck Your Brain Today</p>
    </div>
    <div id="navbar">
        {% block navbar %}
        <ul>
            <li><a href="/courses/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/courses/">Courses</a></li>
            <li>About</li>
            {% if user.is_authenticated %}
            <li><a href="/users/">{{ user.username }}</a></li>
            <li><a href="/accounts/logout/">Logout</a></li>
            {% else %}
            <li><a href="/accounts/register/">Register</a></li>
            <li><a href="/accounts/login/">Login</a></li>
            {% endif %}
        </ul>
        <p>Temp. Links for Dev Purposes:</p>
        <ul>
            <li><a href="/quizzes/">Quizzes</a></li>
            <li><a href="/answers/">Answers</a></li>
            <li><a href="/questions/">Questions</a></li>
            <li><a href="/questiontest/">Test Area</a></li>
        </ul>
        {% endblock navbar%}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

