<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../EduDuck/Styles/common.css" />
    <title>{% block title %}EduDuck Your Brain Today{% endblock %}</title>
</head>

<body>
    <div id="banner">
        <h1>Edu Duck</h1>
        {% block banner %}
        <h1>A Page With No Title. Override Me</h1>
        {% endblock %}
    </div>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/courses/">Courses</a></li>
            <li>About</li>
            {% if user.is_authenticated %}
            <li><a href="/users/">{{ user.username }}</a></li>
            <li><a href="/accounts/logout/">Logout<a/></li>
            {% else %}
            <li><a href="/accounts/register/">Register</a></li>
            <li><a href="/accounts/login/">Login</a></li>
            {% endif %}
        </ul>
        {% endblock sidebar%}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

