<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Mobility   
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120203

-->
<html lang="en">
<head>
    <meta name="keywords" content="education" />
    <meta name="description" content="Massive online education" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}mobility.css" />
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link href="style.css" rel="{{ STATIC_URL }}stylesheet" type="text/css" media="screen" />
    <title>{% block title %}EduDuck Your Brain Today{% endblock %}</title>
</head>

<body>
    <div id="wrapper">
        <div id="header-wrapper">
            <div id="header">
                <div id="logo">
                    <img src="{{ STATIC_URL }}motif.jpg" width="140px" height="140px"/>
                    <h1>Edu Duck</h1>
                    <p id="strapline">EduDuck Your Brain Today</p>
                </div>
            </div>
        </div>
        <!-- end header -->

        <div id="menu">
            {% block menu %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin/">Admin</a></li>
                <li><a href="/courses/">Courses</a></li>
                <li><a href="/about/">About</a></li>
                {% if user.is_authenticated %}
                <li><a href="/users/">{{ user.username }}</a></li>
                <li><a href="/accounts/logout/">Logout</a></li>
                {% else %}
                <li><a href="/accounts/register/">Register</a></li>
                <li><a href="/accounts/login/">Login</a></li>
                {% endif %}
            </ul>
            {% endblock menu %}
        </div>
        <!-- end menu -->

        <div id="devmenu">
            <span>Temp. Links for Dev Purposes:</span>
            <ul id="dev">
                <li><a href="/quizzes/">Quizzes</a></li>
                <li><a href="/answers/">Answers</a></li>
                <li><a href="/questions/">Questions</a></li>
            </ul>
        </div>
        <!-- end devmenu -->

        <div id="page">
            <div id="page-bgtop">
                <div id="page-bgbtm">
                    <div id="content">
                    {% block banner %}
                    <h1>A Page With No Title. Override Me</h1>            
                    {% endblock banner %}
                    {% block content %}{% endblock %}
                    </div>
                    <!-- end content -->
    
                    <div id="sidebar">
                        {% block sidebar %}
                        <ul>
                            <li>
    					<h2>Aliquam tempus</h2>
    					<p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.</p>
                            </li>
                            <li>
                                <h2>Categories</h2>
                                <ul>
                                    <li><a href="#">Aliquam libero</a></li>
                                    <li><a href="#">Consectetuer adipiscing elit</a></li>
                                    <li><a href="#">Metus aliquam pellentesque</a></li>
                                </ul>
                            </li>
                            <li>
                                <h2>Blogroll</h2>
                                <ul>
                                    <li><a href="#">Aliquam libero</a></li>
                                    <li><a href="#">Consectetuer adipiscing elit</a></li>
                                    <li><a href="#">Proin gravida orci porttitor</a></li>
                                </ul>
                            </li>
                            <li>
                                <h2>Archives</h2>
                                <ul>
                                    <li><a href="#">Aliquam libero</a></li>
                                    <li><a href="#">Urnanet non molestie semper</a></li>
                                    <li><a href="#">Proin gravida orci porttitor</a></li>
                                </ul>
                            </li>
                        </ul>
                        {% endblock sidebar %}
                    </div>
                    <!-- end #sidebar -->
                    <div style="clear: both;">&nbsp;</div>
                </div>
            </div>
        </div>
        <!-- end page -->
    </div>
    <div id="footer">
        {% block footer %}
        <p>Copyright (c) 2012 EduDuck.com. Licence TBA.Design by <a href="http://www.freecsstemplates.org/">FCT</a>.</p>
        {% endblock footer %}
    </div>
<!-- end footer-->
</body>
</html>

