{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
<head>
    <meta name="keywords" content="education" />
    <meta name="description" content="Massive online education" />
    <meta charset="utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Merienda:400,700|Junge|Lemon|Pontano+Sans' rel='stylesheet' />
{% comment %}
Use fonts in stylesheets as follows:
    font-family: 'Merienda', cursive;
    font-family: 'Junge', serif;
    font-family: 'Lemon', cursive;
    font-family: 'Pontano Sans', sans-serif;
{% endcomment %}
    <link href="{% static common.css %}" rel="stylesheet" media="screen" />
{%block extra_style %}{% endblock extra_style %}
    <title>{% block title %}EduDuck Your Brain Today{% endblock title %}</title>
</head>


<body>
    <div id="wrapper">
        <header id="branding">
            <img src="{% static images/sutrannu_Duck200.png %}" width="200px" height="95px"/>
            <h1>Edu Duck</h1>
            <p id="strapline">EduDuck Your Brain Today</p>
        </header>

        <nav id="primary">
            {% block sitenav %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin/">Admin</a></li>
                <li><a href="/courses/">Courses</a></li>
                <li><a href="/about/">About</a></li>
                {% if user.is_authenticated %}
                <li><a href="/users/">{{ user.username }}</a></li>
                <li><a href="/accounts/logout/">Logout</a></li>
                {% else %}
                <li><a href="/accounts/register/">Register</a></li>
                <li><a href="/accounts/login/">Login</a></li>
                {% endif %}
            </ul>
            {% endblock sitenav %}
        </nav>

        <div id="devmenu">
            <span>Temp. Links for Dev Purposes:</span>
            <ul id="dev">
                <li><a href="/quizzes/">Quizzes</a></li>
                <li><a href="/answers/">Answers</a></li>
                <li><a href="/questions/">Questions</a></li>
            </ul>
        </div><!-- end devmenu -->

        <div id="content">
            {% block contentheading %}
            <h2>A Page With No Title. Override Me</h1>            
            {% endblock contentheading %}

            {% block content %}{% endblock %}
        </div>

        <footer id="pagefoot">
            {% block footer %}
            <p>Copyright (c) 2013 EduDuck.com. Licence TBA.</p>
            {% endblock footer %}
        </footer>

    </div><!-- end div wrapper-->
</body>
</html>

