{% load staticfiles %}
{% load url from future %}
{% load tz %}
{% load gravatar %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
<head>
    <meta name="keywords" content="education" />
    <meta name="description" content="The Friendly Education Pond" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static 'layouts/side-menu-old-ie.css' %}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{% static 'layouts/side-menu.css' %}">
    <!--<![endif]-->
    <link rel="stylesheet" href="{% static 'index.css' %}">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    <script src="{% static 'jQplugins/carhartl-jquery-cookie-fedc4cb/jquery.cookie.js' %}">
    </script>
    
    <title>EduDuck.com{% block title %} {% endblock title %}</title>
</head>

<body>
<div id="layout">

<!-- Menu start -->
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
    <!-- Hamburger icon -->
    <span></span></a>
    <div id="menu"><div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading pure-menu-selected" href="/">EduDuck</a>
    <ul>
    <li><a href="courses/">Courses</a></li>
    <li><a href="accounts/login/">Login</a></li>
    <li class="menu-item-divided"><a href="support/">Support</a></li>
    <li><a href="contact/">Contact</a></li>
    <li><a href="about/">About</a></li>
    </ul>
    </div></div><!-- menu -->
<!-- Menu end -->

<div id="main">

<div class="header">
    <p id='id_branch'>Code Branch: {{ ACTIVE_GIT_BRANCH }}</p>
    <div class="pure-g-r">
        <div class="pure-u-1-2"><h1>EduDuck</h1></div>
        <div class="pure-u-1-2"><p id="strapline">
            Courses are free to take <br>or create your own.</p></div>
    </div>
</div><!-- header -->

<div class="content">
    <div id="id_course_create_see_all" class="pure-g-r">
    <div class="pure-u-1-2">
        <a href="/" class="pure-button" id="id_course_index">See all Courses</a>
    </div><div class="pure-u-1-2">
        <a href="/" class="pure-button" id="id_create_course">Create a Course</a>
    </div>

    <div id="id_course_selection" class="pure-g-r">
        <div class="random_course pure-u-8-24"><p>Astronomy</p></div>
        <div class="random_course pure-u-6-24"><p>ISS</p></div>
        <div class="random_course pure-u-9-24"><p>Personal Development</p></div>
        <div class="random_course pure-u-3-24"><p>Fishing</p></div>
    </div>

    <div class="pure-g-r">
        <div class="pure-u-1-3"><p>A Platform to Learn and to Teach</p></div>
        <div class="pure-u-1-3">
            <p>We use <a href="www.gravatar.com">Gravatar.com</a> for profile images: if you use the same email address here, your Gravatar will be linked automatically.</p>
            <form id="id_sign_up_form" action="/accounts/register/" method="post">{% csrf_token %}
            {{ register_form.as_p }}
            <input id="id_submit_reg" class="pure-button" type="submit" value="Sign Up" />
            </form>
        </div>
        <div class="pure-u-1-3">
            <form id="id_paypal_button" action="https://www.paypal.com/cgi-bin/webscr"
            method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="YA33KVGTV6ECJ">
            <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
            <p>It's early days for EduDuck. If you have found the platform 
            useful, any financial contribution, modest or major, would be most 
            welcome. We're planning a freemium model.</p>            
        </div>
    </div>

    <footer id="pagefoot">
        <p>Copyright (c) 2013 EduDuck.com. All rights reserved.
        <a href="/support/">Contact Us</a></p>
    </footer>

</div><!-- content -->

</div><!-- main -->
</div><!-- layout -->

<script src="{% static 'js/ui.js' %}"></script>
</body>    
</html>
