{% extends "terms/terms_base.html" %}

{% block breadcrumb %}
<p id='id_breadcrumb'>
    <a href="{% url 'terms:terms_index' %}">T&amp;C</a> &gt; 
    <a href="{% url 'terms:terms_disclaimer' %}">Disclaimer</a>
</p>
{% endblock breadcrumb %}

{% block contentheading %}
    <h2 id='id_page_title'>Website Disclaimer</h2>
{% endblock contentheading %}

{% block content %}
<ol>
<li>
The information contained in this website is for general information purposes only. The information may be provided by either EduDuck.com or by a third party user of this site who has created a course or other learning materials. While we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</li>
<li>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.</li>
<li>Through this website you are able to link to other websites which are not under the control of EduDuck.com. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.</li>
<li>Every effort is made to keep the website up and running smoothly. However, EduDuck.com takes no responsibility for, and will not be liable for, the website being unavailable due to technical issues beyond our control.</li>
</ol>
{% endblock content %}
