{% extends "terms/terms_base.html" %}

{% block breadcrumb %}
<p id='id_breadcrumb'>
    <a href="#">T&amp;C</a> 
</p>
{% endblock breadcrumb %}

{% block contentheading %}
    <h2 id='id_page_title'>Terms and Conditions</h2>
{% endblock contentheading %}

{% block content %}
    <p>Please check the following documents for our terms and conditions and usage disclaimer</p>
    <ol>
        <li><a href="{% url 'terms:terms_privacy' %}">Privacy policy</a></li>
        <li><a href="{% url 'terms:terms_browsing' %}">Browsing EduDuck.com</a></li>
        <li><a href="{% url 'terms:terms_enrolling' %}">Enrolling on a course</a></li>
        <li><a href="{% url 'terms:terms_creating' %}">Creating content</a></li>
        <li><a href="{% url 'terms:terms_disclaimer' %}">Website disclaimer</a></li>
    </ol>
{% endblock content %}
