{% extends "terms/terms_base.html" %}

{% block breadcrumb %}
<p id='id_breadcrumb'>
    <a href="{% url 'terms:terms_index' %}">T&amp;C</a> &gt; 
    <a href="{% url 'terms:terms_creating' %}">Creating</a>
</p>
{% endblock breadcrumb %}

{% block contentheading %}
    <h2 id='id_page_title'>Terms and Conditions for Creating Content</h2>
{% endblock contentheading %}

{% block content %}
<p>Thank you for your interest in creating a course on EduDuck.com.</p>
<p>In addition to the <a href="{% url 'terms:terms_browsing' %}">basic terms and conditions</a>, the following additional terms will apply should you choose to create a course.</p>
<ol>
    <li>Fee Structure. There is no charge to you for creating and uploading course material. You may charge your users for a course you have created. EduDuck.com will take a five percent fee for each user enrolment. If the course is free to users, there will clearly be no fee due to EduDuck.com.</li>
    <li>Arrangements will be made to transfer the balance of course fees, less our five percent and less the Stripe.com processing fee per transaction to a bank account nominated by you. <em>Details on this mechanism are yet to be finalised.</em></li> 
    <li>Appropriate nature of content. <em>Any offensive, abusive, hateful, or nonsensical courses or course material can be removed by EduDuck.com without warning to you</em>. Such material is outside of our terms and conditions and has no place on this site please.</li>
    <li>Please ensure that you are either the originator of any material which you post as part of your course, or if not, please ensure that such material is licenced for publication and redistribution on this site.</li>
    <li>Should you publish material for which you do not hold copyright or have a suitable licence to redistribute, you will assume any liabilities resulting from. EduDuck.com will not accept responsibility or liability for material you publish without appropriate licences.</li>
    <li>Should EduDuck.com have to remove any courses or material due to any reason, even where this might limit the efficacy of courses and materials you have uploaded to the site, you understand that EduDuck.com will not reimburse you for any time spent preparing, producing and uploading those materials, nor will EduDuck.com reimburse you for lost enrolment fees from prospective users.</li>
    
{% endblock content %}
