{% extends "terms/terms_base.html" %}

{% block breadcrumb %}
<p id='id_breadcrumb'>
    <a href="{% url 'terms:terms_index' %}">T&amp;C</a> &gt; 
    <a href="{% url 'terms:terms_browsing' %}">Browsing</a>
</p>
{% endblock breadcrumb %}

{% block contentheading %}
    <h2 id='id_page_title'>Terms and Conditions for Browsing the Website</h2>
{% endblock contentheading %}

{% block content %}
<p>Welcome to EduDuck.com. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern EduDuck.com's relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please consider letting us know of your objection using our <a href="{% url 'support' %}">support form</a> and in the meantime, please do not use our website.</p>

<p>This document covers the terms and condition for browsing EduDuck.com. Please note that should you enrol on a course, or decide to create a course, there are additional terms and conditions documents relating to those activities.</p>
<p>The use of this website is subject to the following terms of use:
<ol>
<li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
<li>This website uses cookies to monitor browsing preferences. If you do allow cookies to be used, the following personal information may be stored by us for use by third parties: information facilitating logging in to the EduDuck.com website using third party authentication frameworks such as those provided by Facebook.com, Twitter.com or Google.com.</li>
<li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
<li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
<li>Some of the material contained on this website is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which is to be found in the footer of most pages on the website.</li>
<li>Some of the material contained on this website will be owned and/or created by third parties. A typical example would be courses created by other users of the website. The copyright on such material may be held by the third party and reproduction of such material would be subject to the consent and licence of the relevant copyright holder. The onus is on you to establish whether or not you are permitted by such third parties to make copies of their material.</li>
<li>All trade marks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.</li>
<li>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
<li>Pages and resources on this website are likely to include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the websites. We have no responsibility for the content of the linked websites.</li>
<li>Your use of this website and any dispute arising out of such use of the website is subject to the laws of Scotland.</li>
</ol>
</p>
{% endblock content %}
