{% extends "courses/base_course.html" %}
{% load staticfiles %}
{% load tz %}
{% load markdown_deux_tags %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'form.css' %}">
{% endblock extra_style %}

<!-- TODO uncomment and implement this later
{% block menu_override %}
<li class='menu-item-divided'><a href="#">Sections:</a></li>
<li class='menu_subsection'><a href="#id_resource_progress">+Basics</a></li>
<li class='menu_subsection'><a href="#id_resource_videos">+Intro Videos</a></li>
<li class='menu_subsection'><a href="#id_resource_lessons">+Lessons</a></li>
<li class='menu_subsection'><a href="#id_resource_assessments">+Assessments</a></li>
<li class='menu_subsection'><a href="#id_resource_study">+Study Group</a></li>
<li class='menu_subsection'><a href="#id_resource_attachments">+Course Docs</a></li>
{% endblock menu_override %}
-->

{% block breadcrumb %}
<p id='id_breadcrumb'>
    <a href="{% url 'courses.views.index' %}">All Courses</a> &gt; 
    <a href="#">Create Course</a>
</p>
{% endblock breadcrumb %}
    
{% block contentheading %}
<h2 id='id_page_title'>Create a Course</h2>
{% endblock contentheading %}

{% block content %}
    {% if form.errors %}
        <div class="errorlist">
            <p>Please correct the following:</p>
        </div>
    {% endif %}
    <form method='post' action='/courses/create/'>
        {% csrf_token %}
        {% for field in form %}
            <div class='pure-control-group'>
                {{ field.errors }}
                {{ field.label_tag }}
                {% if 'abstract' in field.name %} 
                    <div class='markdown'>
                        <p class='markdown'>{% markdown_ok %}</p>
                        {{ field }}
                        <br>{{ field.help_text }}
                    </div>
                {% else %}
                    {{ field }}
                    <br>{{ field.help_text }}
                {% endif %}
            </div>
        {% endfor %}
        <button 
            id="id_course_create" 
            type="submit" 
            class="pure-button pure-button-primary">
            Create a Course
        </button>
    </form>
{% endblock content %}
