{% extends "courses/base_course.html" %}
{% load staticfiles %}
{% load tz %}

{% block menu_override %}
<li class='menu-item-divided'><a href="#">{{ course.name }}</a></li>
<li class='menu_subsection'><a href="#id_resource_videos">Intro Videos</a></li>
<li class='menu_subsection'><a href="#id_resource_lessons">Lessons</a></li>
<li class='menu_subsection'><a href="#id_resource_assessments">Assessments</a></li>
<li class='menu_subsection'><a href="#id_resource_study">Study Group</a></li>
<li class='menu_subsection'><a href="#id_resource_attachments">Course Attachments</a></li>
<li class='menu_subsection'><a href="#id_resource_progress">Progress</a></li>
{% endblock menu_override %}

{% block breadcrumb %}
<p id='id_breadcrumb'>
    <a href="{% url 'courses.views.index' %}">All Courses</a> &gt; 
    <a href="#">{{ course.name }} Home</a>
</p>
{% endblock breadcrumb %}
    
{% block contentheading %}
<h2 id='id_course_title'>{{ course.name }}</h2>
{% endblock contentheading %}

{% block content %}    
<div id='id_course_intro_area' class='pure-g-r'>
    <div class='pure-u-4-5'>
        <h3>{{ course.code }}: {{ course.name }} Course Homepage</h3>
    </div>
    <div class='pure-u-1-5'>
        <form class='pure-form' action='' method='post'>{% csrf_token %}
        <button id='id_enrol' class='pure-button pure-button-primary' type='submit' name='course_enrol'>Enrol</button>
        </form>
    </div>
    
    <div id='id_abstract' class='pure-u-1-2'>
        <p>Hi, and welcome to {{ course.name }}</p>
        <p>{{ course.abstract }}</p>
        <p>Course organiser <a href="{{ course.organiser.bio.get_profile_url}}">
        {% firstof course.organiser.get_full_name course.organiser.username %}</a></p>
        <p>Course instructor <a href="{{course.instructor.bio.get_profile_url}}">
        {% firstof course.instructor.get_full_name course.instructor %}</a></p>
    </div>
    <div id='id_intro_video' class='pure-u-1-2'>
        {% with v=course.video_set.0 %}
        <iframe width="280" height="158" src='{{ v.url }}' 
        frameborder="0" allowfullscreen></iframe>
        {% endwith %}
        <br />            
    </div>
</div><!-- id_course_intro_area-->

<div id='id_resource_area' class='pure-g-r'>
    <div class='pure-u-1-3' id='id_resource_lessons'>
        <h3>Lessons</h3>
        <p>There 
        {{course.lesson_set.count|pluralize:"is,are"}} {{course.lesson_set.count}} 
        lesson{{course.lesson_set.count|pluralize:",s"}} in this course.</p>
        <ul class='pure-paginator'>
            {% for lesson in course.lesson_set.all %}
            <li><a class='pure-button' 
                href='{{ lesson.get_absolute_url }}'
                title='{{ lesson.name}}'
                id='id_lesson{{ forloop.counter }}'>{{ forloop.counter }}
            </a></li>
            {% endfor %}
        </ul>

        {% regroup course.lesson_set.all by lesson.code as lesson_list %}
        {% for lesson in course.lesson_set.all %}
            <h4>{{ lesson.code}}; {{ lesson.name }}</h4>
            <article class="abstract">
                <a href='{{ lesson.get_absolute_url }}'>{{ lesson.name }}</a>
                <p>{{ lesson.abstract}} 
                <a href='{{ lesson.get_absolute_url }}'>Go to lesson</a>
                </p>
            </article>
        {% empty %}
            <h4>No Lessons</h4>
            <article class="abstract">
            <p>{% firstof course.organiser.get_full_name course.organiser.username %} hasn&#39;t added any lessons yet!</p>
            </article>
        {% endfor %}
        
    </div>
    <div class='pure-u-1-3' id='id_resource_assessments'>
        <h3>Assessments</h3>
    </div>
    <div class='pure-u-1-3' id='id_resource_study'>
        <h3>Study Group & Course News</h3>
        <p>Combined news feed, possibly user configurable forum RSS, 
        twitter, G+, Facebook etc. (Students often set up own groups</p>
    </div>
    
    <div class='pure-u-1-3' id='id_resource_attachments'>
        <h3>Attachments</h3>
        <ol>
        {% for a in attachments %}
        <li>
            {{ a.1.pk}}&nbsp;[
                {% if a.0 %}
                Downloaded
                {% else %}
                Not Downloaded
                {% endif %}]&nbsp;   
            <a href='{{ a.1.get_loggable_url }}'>{{ a.1.name }}</a>
            : {{ a.1.attachment.size }} bytes, {{ a.1.desc }}
            <a href='{{ a.1.get_metadata_url }}'>(View MetaData here)</a>
        </li>
        {% endfor %}
        </ol>  
    </div>

    <div class='pure-u-1-3' id='id_resource_videos'>
        <h3>Intro Videos</h3>
        {% for v in course.video_set.all %}
            <iframe width="280" height="158" src='{{ v.url }}' 
            frameborder="0" allowfullscreen></iframe>
        {% endfor %}
    </div>
    <div class='pure-u-1-3' id='id_resource_progress'>
        {% if status == "auth_reg" %}
        <h3>Your Progress</h3>
        <p>Current status: {{ uc.get_status }}</p>
        {% if uc.get_status == 'active' %}
        <form action='' method='post'>{% csrf_token %}
            <input type="submit" name="course_complete" value="Complete"
            title="Mark the course as complete">
            <input type="submit" name="course_withdraw" value="Withdraw"
            title="Withdraw from the course">
            </form>  
            {% else %}
            <form action='' method='post'>{% csrf_token %}
            <input type="submit" name="course_reopen" value="Re-open">
            </form>  
            {% endif %}
            <ol>{% for event in history %}
            <li>{{ event.1 }} on {{ event.0|localtime }}</li>
            {% endfor %}</ol>
            <h4>Lessons Visited</h4>
            <table border='1'>
            <thead>
            <tr><th>Status</th><th>Lesson</th></tr>
            </thead>
            <tbody>
            {% for lesson, ul in lessons %}<tr><td>
            {% if ul.completed %}Completed
            {% elif ul.visited %}Visited
            {% endif %}
            </td><td>{{ lesson.name }}</td></tr>
            {% endfor %}
            </tbody>
            </table>
            {% elif status == "auth_noreg" %}
            <h3>Enrol Here</h3>
            <form id='id_enrol_x2' action='' method='post'>{% csrf_token %}
            <input type="submit" name="course_register" value="Register">
            </form>
            {% else %}
            <h3>Join Eduduck</h3>
            <p>Join Eduduck and enrol on this course</p>
            {% endif %}
    </div>
</div><!-- id_resource_area -->
{% endblock content %}
