{% extends "courses/base_course.html" %}
{% load staticfiles %}
{% load tz %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'form.css' %}">
{% endblock extra_style %}

{% block breadcrumb %}
<p id='id_breadcrumb'>
    <a href="{% url 'courses.views.index' %}">All Courses</a> &gt;
    {{ course.name }}
    <a href="#">Edit Course</a>
</p>
{% endblock breadcrumb %}
    
{% block contentheading %}
<h2 id='id_page_title'>Edit Course</h2>
{% endblock contentheading %}

{% block content %}
    {% if form.errors %}
        <div class="errorlist">
            <p>Please correct the following:</p>
        </div>
    {% endif %}
    <form method='post' action='#'>
        {{ form.as_p }}
        {% csrf_token %}
        <button 
        id="id_submit" 
        type="submit" 
        class="pure-button pure-button-primary">
        Save Edits
        </button>
    </form>
    <div id='id_lessons_area'>
	<h3>Lessons</h3>
	{% for lesson in lessons %}
	    {{ lesson.name }}
	{% endfor %}
    </div>
{% endblock content %}
