{% extends "courses/base_course.html" %}
{% load staticfiles %}
{% load tz %}

{% block content %}
{% if user.is_authenticated %}
    <section id="zone1">
        <h3>Your Courses</h3>

        {% for course in course_list %}
        <article id={{ course.code }}>
        <h4>{{ course.code }} 
        <a href='{{ course.get_absolute_url }}'>{{ course.name }}</a>
        </h4> 
        <p>(With {{ course.lesson_set.count }} 
        lesson{{ course.lesson_set.count|pluralize:",s"}}). 
        Level {{ course.level }}, {{ course.credits }}
        point{{course.credits|pluralize:",s"}}.
        <p>Contact organiser <a href='{{ course.organiser.bio.get_profile_url }}'>
            {{ course.organiser.get_full_name }}</a></p>
        <p>Contact instructor <a href='{{ course.instructor.bio.get_profile_url }}'>
            {{ course.instructor.get_full_name }}</a></p>
        <p class="abstract">{{ course.abstract }}</p>
        {% empty %}
        <h4>You aren't enrolled in any courses yet.</h4>
        {% endfor %}
    </section>
    <section id="zone2">
        <h3>Possible Courses</h3>
        <p>List of 'basket' of courses the student finds interesting and may
wish to register for in future</p>
    </section>
{% else %}
    <section id="zone1">
        <h3>Featured Courses</h3>
        {% for course in course_list %}
        <article id={{ course.code }}>
        <h4>{{ course.code }} 
        <a href='{{ course.get_absolute_url }}'>{{ course.name }}</a>
        </h4> 
        <p>(With {{ course.lesson_set.count }} 
        lesson{{ course.lesson_set.count|pluralize:",s"}}). 
        Level {{ course.level }}, {{ course.credits }}
        point{{course.credits|pluralize:",s"}}.
        <p>Contact organiser {{ course.organiser }}</p>
        <p>Contact instructor {{ course.instructor }}</p>
        <p class="abstract">{{ course.abstract }}</p>
        {% endfor %}
    </section>
{% endif %}
{% endblock %}
