{% extends "courses/base_course.html" %}
{% load staticfiles %}
{% load tz %}

{% block pagenav %}
    {{ block.super }}
	| <a href=''>Course Home</a> |
    {% for lesson in course.lesson_set.all %}
	<a href='{{ lesson.get_absolute_url }}'
       title='{{ lesson.name}}'>{{ forloop.counter }} |</a>
    {% endfor %}	
{% endblock pagenav %}
	
{% block contentheading %}
{{ course.name }}
{% endblock contentheading %}

{% block content %}

    <section id="zone1">
        <h3>Course {{ course.code }}: {{ course.name }}</h3>
        <h4>About the Course</h4>
        <article class="abstract">
            <p>Hi, and welcome to {{ course.name }}, 
            with {{ course.instructor.get_full_name }} (instructor)</p>

            {% for v in course.video_set.all %}
            <iframe width="280" height="158" src='{{ v.url }}' 
                frameborder="0" allowfullscreen></iframe>
            <br />
            {% endfor %}
            {{ course.abstract }}

            <ol>
              {% for a in attachments %}
              <li>
		        {{ a.1.code}}&nbsp;[
                {% if a.0 %}
                Downloaded
                {% else %}
                Not Downloaded
                {% endif %}]&nbsp;   
                <a href='{{ a.1.get_loggable_url }}'>{{ a.1.name }}</a>
                : {{ a.1.attachment.size }} bytes, {{ a.1.desc }}
                <a href='{{ a.1.get_metadata_url }}'>(View MetaData here)</a>
              </li>
              {% endfor %}
            </ol>  

            <p>There 
              {{course.lesson_set.count|pluralize:"is,are"}} {{course.lesson_set.count}} 
              lesson{{course.lesson_set.count|pluralize:",s"}} in this course.</p>
        </article>

        {% regroup course.lesson_set.all by lesson.code as lesson_list %}
        {% for lesson in course.lesson_set.all %}
        <h4>{{ lesson.code}}; {{ lesson.name }}</h4>
        <article class="abstract">
            <a href='{{ lesson.get_absolute_url }}'>
                {{ lesson.name }}
            </a>
            <p>{{ lesson.abstract}} 
                <a href='{{ lesson.get_absolute_url }}'>
                Go to lesson</a>
            </p>
        </article>
        {% empty %}
        <h4>No Lessons</h4>
        <article class="abstract">
            <p>{{ course.oraganiser }} 
            hasn't added any lessons yet!</p>
        </article>
        {% endfor %}
    </section>

    <section id="zone2">
        {% if status == "auth_reg" %}
            <h3>Your Progress</h3>
            <p>Current status: {{ uc.get_status }}</p>
            {% if uc.get_status == 'active' %}
            <form action='' method='post'>{% csrf_token %}
                <input type="submit" name="course_complete" value="Complete"
                title="Mark the course as complete">
                <input type="submit" name="course_withdraw" value="Withdraw"
                title="Withdraw from the course">
            </form>  
            {% else %}
            <form action='' method='post'>{% csrf_token %}
                <input type="submit" name="course_reopen" value="Re-open">
            </form>  
            {% endif %}
            <ol>{% for event in history %}
                <li>{{ event.1 }} on {{ event.0|localtime }}</li>
            {% endfor %}</ol>
            <h4>Lessons Visited</h4>
            <table border='1'>
            <thead>
            <tr><th>Status</th><th>Lesson</th></tr>
            </thead>
            <tbody>
                {% for lesson, ul in lessons %}<tr><td>
                    {% if ul.completed %}Completed
                    {% elif ul.visited %}Visited
                    {% endif %}
                    </td><td>{{ lesson.name }}</td></tr>
                {% endfor %}
            </tbody>
            </table>
        {% elif status == "auth_noreg" %}
            <h3>Enroll Here</h3>
            <form action='' method='post'>{% csrf_token %}
                <input type="submit" name="course_register" value="Register">
            </form>
        {% else %}
            <h3>Join Eduduck</h3>
            <p>Join Eduduck and enroll on this course</p>
        {% endif %}
        <h3>Course News</h3>
        <p>Combined news feed, possibly user configurable forum RSS, 
        twitter, G+, Facebook etc. (Students often set up own groups</p>
    </section>

{% endblock content %}
