{% extends "courses/base_course.html" %}
{% load staticfiles %}
{% load tz %}

{% block content %}
{% if user.is_authenticated %}
    <section id="zone1">
        <h2>Your Courses</h3>

        {% for course in course_list %}
        <article id={{ course.code }}>
        <h3>{{ course.code }}
        <a href='{{ course.get_absolute_url }}'>{{ course.name }}</a>
        </h3> 
        <p>(With {{ course.lesson_set.count }} 
        lesson{{ course.lesson_set.count|pluralize:",s"}}). 
        Level {{ course.level }}, {{ course.credits }}
        point{{course.credits|pluralize:",s"}}.
<p>Course organiser <a href="{{ course.organiser.bio.get_profile_url}}">{% firstof course.organiser.get_full_name course.organiser.username %}</a></p>
<p>Course instructor <a href="{{ course.instructor.bio.get_profile_url}}">{% firstof course.instructor.get_full_name course.instructor.username %}</a></p>

        <p class="abstract">{{ course.abstract }}</p>
        {% empty %}
        <h3>You aren't enrolled in any courses yet.</h3>
        {% endfor %}
    </section>
    <section id="zone2">
        <h3>Possible Courses</h3>
        <p>List of 'basket' of courses the student finds interesting and may
wish to register for in future</p>
    </section>
{% else %}
    <section id="zone1">
        <h2>Featured Courses</h2>
        {% for course in course_list %}
        <article id={{ course.code }}>
        <h3>{{ course.code }} 
        <a href='{{ course.get_absolute_url }}'>{{ course.name }}</a>
        </h3> 
        <p>(With {{ course.lesson_set.count }} 
        lesson{{ course.lesson_set.count|pluralize:",s"}}). 
        Level {{ course.level }}, {{ course.credits }}
        point{{course.credits|pluralize:",s"}}.

<p>Course organiser <a href="{{ course.organiser.bio.get_profile_url}}">{% firstof course.organiser.get_full_name course.organiser.username %}</a></p>
<p>Course instructor <a href="{{course.instructor.bio.get_profile_url}}">{% firstof course.instructor.get_full_name course.instructor %}</a></p>

        <p class="abstract">{{ course.abstract }}</p>
        {% endfor %}
    </section>
{% endif %}
{% endblock %}
