{% extends "courses/base_course.html" %}
{% load staticfiles %}
{% load tz %}

{% block pagenav %}
<a href='{{ lesson.course.get_absolute_url }}'>
    Course Home</a>
<span class='prevnext'>
    {% if lesson.get_prev %}
        &lt; 
        <a href='{{ lesson.get_prev.get_absolute_url }}'>
        {{lesson.get_prev}}</a> 
    {% else %}
        ---
    {% endif %}
    | {{ lesson.lesson_code }} | 
    {% if lesson.get_next %}
        <a href='{{ lesson.get_next.get_absolute_url }}'>
        {{ lesson.get_next }}</a> &gt;
    {% else %}
        ---
    {% endif %} 
</span>
{% endblock %}

{% block contentheading %}
    {{lesson.lesson_code}}: {{lesson.lesson_name}}
{% endblock contentheading %}

{% block content %}
    <article class="abstract">
        <h3>Abstract</h3>
        <p>{{ lesson.abstract }}</p>
    </article>

    <section id="zone1">
        <article>
            <h4>Attachments</h4>
            <ol>
            {% for a in attachments %}
                <li>{{ a.1.att_code}}
                    {% if a.0 %}
                    Downloaded
                    {% else %}
                    Not Downloaded
                    {% endif %} 
                    <a href='{{ a.1.get_loggable_url }}'>{{ a.1.att_name }}</a>
                    : {{ a.1.attachment.size }} bytes, {{ a.1.att_desc }}
                    <a href='{{ a.1.get_metadata_url }}'>(View MetaData here)</a>
                </li>
            {% empty %}
                <li>No attachments in this lesson</li>
            {% endfor %}
            </ol>  
        </article>

        <article>
            <h4>Videos</h4>
            <ol>
            {% for v in lesson.video_set.all %}
                <li>{{ v.video_code}} <a href="{{ v.url }}">{{v.video_name}}</a></li>
                <iframe width="280" height="158" src='{{ v.url }}' 
                frameborder="0" allowfullscreen></iframe>
            {% empty %}
                <li>No videos for this lesson</li>
            {% endfor %}
            </ol>
        </article>  
    </section>

    <section id="zone2">
    {% if user.is_authenticated and history %}
        <h3>Your Progress</h3>
        <ol>{% for event in history %}
            <li>{{ event.1 }} lesson on {{ event.0|localtime }}</li>
        {% endfor %}</ol>
        {% if not ul.completed %}
        <form action='' method='post'>{% csrf_token %}
            <input type="submit" name="lesson_complete" 
            value="Mark Complete" title="You can manually mark this lesson as being complete">
        </form>
        {% else %}
        <form action='' method='post'>{% csrf_token %}
            <input type="submit" name="lesson_reopen" 
            value="Un-mark/Re-open" title="This lesson is marked as complete, this will un-mark it (your data will not be lost)">
        </form>
        {% endif %}
    {% else %}
        <h3>Progress Record</h3>
        <p>Log in and/or register for this course, then you get to build up
        a detailed log of your awesomeness here.</p>
    {% endif %}
        <h3>Learning Intentions</h3>
        {% for li in learning_intentions %}
            <p class="abstract">[<a href="{{ li.get_absolute_url }} " title="detail">-> {{ forloop.counter}}</a>] {{ li.li_text }}</p>
        {% empty %}
            <p>Bizarrely, no learning intentions given for this lesson</p>
        {% endfor %}
    </section>    

{% endblock content %}