{% extends "courses/base_course.html" %}
{% load staticfiles %}
{% load tz %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'form.css' %}">
{% endblock extra_style %}

{{% block extra_script %}
    <script src="{% static 'common.js' %}" ></script>
{% endblock extra_script %}

{% block breadcrumb %}
<p id='id_breadcrumb'>
    <a href="{% url 'courses.views.index' %}">All Courses</a> &gt;
    <a href="{{ course.get_absolute_url }}">{{ course.name }}</a> &gt; Edit
</p>
{% endblock breadcrumb %}
    
{% block contentheading %}
<h2 id='id_page_title'>Editing: {{ course.name }}</h2>
{% endblock contentheading %}

{% block content %}
    {% if course_form.errors or lesson_formset.errors %}
        <div class="errorlist">
            <p>Please correct the following:</p>
        </div>
    {% endif %}
    <form method='post' action='#' class='pure-form pure-form-aligned'>
        {% csrf_token %}
        {{ lesson_formset.management_form }}
        {{ video_formset.management_form }}
        <h3 class='shadable'>Basic Details</h3>
        <article>
        <fieldset id='id_course_basics_area'>
            {% for field in course_form %}
                <div class='pure-control-group'>
                    {{ field.errors }}
                    {{ field.label_tag }}{{ field }}
                    <br>{{ field.help_text }}
                </div>
            {% endfor %}
            <div class='pure-controls'>
                <button 
                    id="id_submit_course_edits" 
                    type="submit" 
                    class="pure-button pure-button-primary">
                    Save All Edits
                </button>
            </div>
        </fieldset>
        </article>
        <h3 class='shadable'>Intro Video(s)</h3>
        <article>
        <fieldset id='id_video_formset_area'>
            <em>NB: Temporary Pain: For now, can you please enter YouTube addressess in precisely the following format, otherwise they will not show up. This pain will go away at the next release (MVP0.3)<br>http://www.youtube.com/embed/11digitid</em>
            {% for form in video_formset %}
                {% for hf in form.hidden_fields %}
                    {{ hf }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div class='pure-control-group'>
                        {{ field.errors }}
                        {{ field.label_tag }}{{ field }}
                        <br>{{ field.help_text }}
                    </div>
                {% endfor %}
                <hr>
            {% endfor %}
            <div class='pure-controls'>
                <button 
                    id="id_submit_video_edits" 
                    type="submit" 
                    class="pure-button pure-button-primary">
                    Save All Edits
                </button>
            </div>
        </fieldset>
        </article>
        <h3 class='shadable'>Lessons</h3>
        <article>
        <fieldset id='id_lesson_formset_area'>
            {% for form in lesson_formset %}
                {% for hf in form.hidden_fields %}
                    {{ hf }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div class='pure-control-group'>
                        {{ field.errors }}
                        {{ field.label_tag }}{{ field }}
                        <br>{{ field.help_text }}
                    </div>
                {% endfor %}
                <hr>
            {% endfor %}
            <div class='pure-controls'>
                <button 
                    id="id_submit_lesson_edits" 
                    type="submit" 
                    class="pure-button pure-button-primary">
                    Save All Edits
                </button>
            </div>
        </fieldset>
        </article>
    </form>
{% endblock content %}

