{% extends "base.html" %}

{% block banner %}
    <h1>Single Course Detail View</h1>
{% endblock %}

{% block content %}
    <h2>Course: {{course.course_name}}</h2>
    <h3>Course Information & Introduction</h3>
    <ol>
    {% for v in course.video_set.all %}
        <li>{{ v.video_code}} {{v.video_name}}: {{v.url}}</li>
        <iframe width="560" height="315" src='{{ v.url }}' 
        frameborder="0" allowfullscreen></iframe>
    {% empty %}
        <li>No videos on course page</li>
    {% endfor %}
    </ol>
    <ol>
    {% for a in course.attachment_set.all %}
        <li>{{ a.att_code}} {{a.att_name}}: {{a.att_desc}}</li>
    {% empty %}
        <li>No attachments to course page</li>
    {% endfor %}
    </ol>    

    <h3>Lessons</h3>
    <p>There 
    {{course.lesson_set|pluralize:"is,are"}} {{course.lesson_set.count}} 
    lesson{{course.lesson_set.count|pluralize:",s"}} in this course.</p>

    {% regroup course.lesson_set.all by lesson.lesson_code as lesson_list %}
    <ol>
        {% for lesson in course.lesson_set.all %}
            <li>
                {{ lesson.lesson_code}}, 
                <a href='{{ lesson.get_absolute_url }}'>
                    {{ lesson.lesson_name }}
                </a>
                <em>&nbsp;&nbsp;{{ lesson.abstract}}</em>
                {% if lesson.quiz_set.all %}
                    {% for quiz in lesson.quiz_set.all %}
                    <br />Quiz: <a href='/quiz_take/{{ quiz.id }}'>{{ quiz.quiz_title }}</a>
                    {% endfor %}
                {% endif %}
                <hr />
            </li>
        {% empty %}
            <li>No lessons in this course yet</li>
        {% endfor %}
    </ol>

{% endblock %}